<div>
    <h2 data-translate="seatApp.perguntaDetalhada.home.title">Pergunta Detalhadas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pergunta-detalhada.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="seatApp.perguntaDetalhada.home.createLabel">
                        Create new Pergunta Detalhada
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="seatApp.perguntaDetalhada.descricao">Descricao</span></th>
                    <th><span data-translate="seatApp.perguntaDetalhada.dica">Dica</span></th>
                    <th><span data-translate="seatApp.perguntaDetalhada.link">Link</span></th>
                    <th><span data-translate="seatApp.perguntaDetalhada.pergunta">Pergunta</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="perguntaDetalhada in vm.perguntaDetalhadas track by perguntaDetalhada.id">
                    <td><a ui-sref="pergunta-detalhada-detail({id:perguntaDetalhada.id})">{{perguntaDetalhada.id}}</a></td>
                    <td>{{perguntaDetalhada.descricao}}</td>
                    <td>{{perguntaDetalhada.dica}}</td>
                    <td>{{perguntaDetalhada.link}}</td>
                    <td>
                        <a ui-sref="pergunta-detail({id:perguntaDetalhada.pergunta.id})">{{perguntaDetalhada.pergunta.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pergunta-detalhada-detail({id:perguntaDetalhada.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pergunta-detalhada.edit({id:perguntaDetalhada.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pergunta-detalhada.delete({id:perguntaDetalhada.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
