
<div>
    <h2><span data-translate="seatApp.perguntaDetalhada.detail.title">Pergunta Detalhada</span> {{vm.perguntaDetalhada.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="seatApp.perguntaDetalhada.descricao">Descricao</span></dt>
        <dd>
            <span>{{vm.perguntaDetalhada.descricao}}</span>
        </dd>
        <dt><span data-translate="seatApp.perguntaDetalhada.dica">Dica</span></dt>
        <dd>
            <span>{{vm.perguntaDetalhada.dica}}</span>
        </dd>
        <dt><span data-translate="seatApp.perguntaDetalhada.link">Link</span></dt>
        <dd>
            <span>{{vm.perguntaDetalhada.link}}</span>
        </dd>
        <dt><span data-translate="seatApp.perguntaDetalhada.pergunta">Pergunta</span></dt>
        <dd>
            <a ui-sref="pergunta-detail({id:vm.perguntaDetalhada.pergunta.id})">{{vm.perguntaDetalhada.pergunta.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="pergunta-detalhada-detail.edit({id:vm.perguntaDetalhada.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
