
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPerguntaDetalhadaLabel" data-translate="seatApp.perguntaDetalhada.home.createOrEditLabel">Create or edit a Pergunta Detalhada</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.perguntaDetalhada.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.perguntaDetalhada.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.perguntaDetalhada.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.perguntaDetalhada.descricao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.perguntaDetalhada.dica" for="field_dica">Dica</label>
            <input type="text" class="form-control" name="dica" id="field_dica"
                    ng-model="vm.perguntaDetalhada.dica"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.perguntaDetalhada.link" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                    ng-model="vm.perguntaDetalhada.link"
                    />
        </div>

        <div class="form-group">
            <label data-translate="seatApp.perguntaDetalhada.pergunta" for="field_pergunta">Pergunta</label>
            <select class="form-control" id="field_pergunta" name="pergunta" ng-model="vm.perguntaDetalhada.pergunta" ng-options="pergunta as pergunta.id for pergunta in vm.perguntas track by pergunta.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
