<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div>
        <h2 translate="seatApp.informacaoContexto.home.title">Informações de Contexto</h2>
        <br>
        <div class="alert alert-info" role="alert" ng-show="exibeBotaoNovaAvaliacao">
            <span data-translate="informacaoContexto.alert">Antes de iniciar uma nova avaliação, por favor, preencha ou atualize suas informações de contexto.</span>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.informacaoContexto.nomeOrganizacao" for="field_nomeOrganizacao">Nome Organizacao</label>
            <input type="text" class="form-control" name="nomeOrganizacao" id="field_nomeOrganizacao" ng-model="vm.informacoesContexto.nomeOrganizacao" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.informacaoContexto.numeroColaboradores" for="field_numeroColaboradores">Numero Colaboradores</label>
            <input type="number" class="form-control" name="numeroColaboradores" id="field_numeroColaboradores" ng-model="vm.informacoesContexto.numeroColaboradores" />
            <p class="help-block" ng-show="vm.informacoesContexto.numeroColaboradores > 25" data-translate="informacaoContexto.numeroColaboradores">
                A ISO/IEC 29110 é recomendada para empresas com até 25 colaboradores.
            </p>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.informacaoContexto.numeroProjetos" for="field_numeroProjetos">Numero Projetos</label>
            <input type="number" class="form-control" name="numeroProjetos" id="field_numeroProjetos" ng-model="vm.informacoesContexto.numeroProjetos" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.informacaoContexto.areaAtuacao" for="areasAtuacao">Área de Atuação</label>
            <select class="form-control" id="areasAtuacao" ng-change="vm.verificaAreaAtuacao()" ng-model="vm.informacoesContexto.areaAtuacao">
                <option></option>
                <option>Agronegócio</option>
                <option>Comércio e Serviços</option>
                <option>Indústria</option>
                <option>Turismo</option>
                <option>Educação</option>
                <option>Financeiro</option>
                <option>Marketing</option>
                <option>Médico</option>
                <option>Segurança</option>
                <option>Outra</option>
            </select>
            <p class="help-block" ng-show="vm.areaAtuacaoInvalida" data-translate="informacaoContexto.areaAtuacao">
                A ISO/IEC 29110 é recomendada para empresas que não atuem em setores de risco.
            </p>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.informacaoContexto.certificacao" for="certificacao">Certificação</label>
            <input type="text" class="form-control" name="certificacao" id="certificacao" ng-model="vm.informacoesContexto.certificacao" />
        </div>
    </div>
    <div id="botaoSalvar">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span data-translate="entity.action.save" ng-show="!exibeBotaoNovaAvaliacao">Save</span>
            <span data-translate="entity.action.saveContinue" ng-show="exibeBotaoNovaAvaliacao">Save and Continue</span>
        </button>
    </div>

</form>
