<div class="container-fluid">
	<div class="row center-block">
        <div class="col-md-4" id="mg"></div>
        <div class="col-md-4" id="mpm"></div>
        <div class="col-md-4" id="msi"></div>
	</div>

    <hr>

    <div class="row center-block">
        <div class="col-md-4">
            <div id="mediaColaboradores"></div>
            <div class="center-block">
                <h4>Média de colaboradores: {{vm.mediaColaboradores}}</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div id="mediaProjetos"></div>
            <div class="center-block">
                <h4>Média de projetos: {{vm.mediaProjetos}}</h4>
            </div>
        </div>
    </div>

    <hr>

</div>
