
<div class="container-fluid">
	<div class="row center-block">
		    <div class="col-md-4" id="gauge"></div>
            <div class="col-md-4" id="gaugeMedia"></div>
	</div>
	<h3><span>{{vm.resultado.avaliacaoGeral | translate}}</span></h3>
    <h4><p data-translate="resultado.sugestoes">Veja abaixo algumas sugestões de melhoria:</p></h4>
    <hr>

	<div id="pm" class="panel panel-default">
		<div class="panel-heading">
			<span class="panel-title" data-translate="informacaoContexto.pm">Project Management </span> <span class="panel-title"><strong> : {{ vm.resultado.notaPM}} de 100 </strong> </span>
		</div>
		<div class="panel-body">
            <p ng-repeat="(pergunta, dica) in vm.resultado.avaliacoesPM">
                <span class="glyphicon glyphicon-question-sign"></span>
                {{pergunta | translate}}
				<br>
				<span class="glyphicon glyphicon-hand-right"></span>
				{{dica | translate}}
            </p>
		</div>
	</div>

	<div id="si" class="panel panel-default">
		<div class="panel-heading">
			<span class="panel-title" data-translate="informacaoContexto.si">Software Implementation </span> <span class="panel-title"><strong> : {{ vm.resultado.notaSI}} de 100 </strong> </span>
		</div>
		<div class="panel-body">
            <p ng-repeat="(pergunta, dica) in vm.resultado.avaliacoesSI">
                <span class="glyphicon glyphicon-question-sign"></span>
                {{pergunta | translate}}
				<br>
				<span class="glyphicon glyphicon-hand-right"></span>
				{{dica | translate}}
            </p>
		</div>
	</div>
</div>
