<div>
    <h2 data-translate="seatApp.areaProcesso.home.title">Area Processos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="area-processo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="seatApp.areaProcesso.home.createLabel">
                        Create new Area Processo
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="seatApp.areaProcesso.nome">Nome</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="areaProcesso in vm.areaProcessos track by areaProcesso.id">
                    <td><a ui-sref="area-processo-detail({id:areaProcesso.id})">{{areaProcesso.id}}</a></td>
                    <td>{{areaProcesso.nome}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="area-processo-detail({id:areaProcesso.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="area-processo.edit({id:areaProcesso.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="area-processo.delete({id:areaProcesso.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
