<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div>
                <ul class="nav nav-pills nav-justified">
                    <li ng-class="{'active':currentPage == 1 || currentPage == 2}" ng-click="currentPage = 1" role="presentation" id="pmLi"><a translate="informacaoContexto.pm">Gerência de Projetos</a></li>
                    <li ng-class="{'active':currentPage == 3 || currentPage == 4 || currentPage == 5}" ng-click="currentPage = 3" role="presentation" id="siLi"><a translate="informacaoContexto.si">Desenvolvimento de Software</a></li>
                    <li ng-class="{'disabled':currentPage != 5}" role="presentation" id="resultadoLi"><a translate="resultado.resultado" ng-click="vm.save()">Resultado</a></li>
                </ul>
            </div>

            <br>

				<div id="pergunta" class="panel panel-default" ng-repeat="pergunta in vm.perguntas.slice(((currentPage-1)*2), ((currentPage)*2))">
					<div class="panel-heading">
						<h3 class="panel-title" translate="{{pergunta.nome}}">{{pergunta.nome}}</h3>
					</div>

					<div class="panel-body">
						<span translate="{{pergunta.descricao}}">{{pergunta.descricao}}</span>
						</br>


						<div class="checkbox" ng-repeat="perguntaDetalhada in pergunta.perguntaDetalhadas">
							<label>
								<input type="checkbox"
										value=""
										id="perguntaDetalhada{{perguntaDetalhada.id}}"
										ng-model="vm.respostas[perguntaDetalhada.id]"
										ng-true-value="'S'"
										ng-false-value="'N'"
										ng-click="atualizaProgressBar()"> {{perguntaDetalhada.descricao | translate}}
                                <a href="{{perguntaDetalhada.link}}" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
                            </label>
						</div>
					</div>
				</div>

				 <div class="progress">
                	<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    	<span>Resultado Parcial: {{vm.percentual}} de 100 pontos</span>
                	</div>
            	</div>


			<uib-pager previous-text="< Anterior" next-text="Próximo >" total-items="vm.perguntas.length" ng-model="currentPage" items-per-page="2" ng-change="alterouPagina()"></uib-pager>

			<div align="center" ng-show="exibeBotaoSalvar">
				<button type="button" class="btn btn-primary btn-lg" ng-click="vm.save()" translate="resultado.ver">Ver Resultado!</button>
			</div>

        </div>
    </div>
</form>
