<div class="container-fluid text-center">

    <h1><span>SEAT</span></h1>

    <hr>
    <div class="row">
        <div class="col-md-4 text-center">
            <h3>O que é?</h3>
            <br>
            <h4 class="sobre">SEAT é uma ferramenta de autoavaliação
                baseada na norma ISO/IEC 29110
                que ajuda pequenas empresas de software
                a avaliarem seus processos de desenvolvimento.
            </h4>
        </div>
        <div class="col-md-4 text-center">
            <h3>Para que serve?</h3>
            <br>
            <h4 class="sobre">
                O resultado da avaliação sugere melhorias
                a serem feitas nos processos de gerência e desenvolvimento
                de software da sua empresa.
            </h4>
        </div>
        <div class="col-md-4 text-center">
            <h3>Como se usa?</h3>
            <br>
            <h4 class="sobre">
                Basta preencher as informações de contexto da sua empresa
                e responder as perguntas referentes a ISO/IEC 29110.
                Não leva mais que 5 minutos!
            </h4>
        </div>
    </div>

    <br>
    <br>
    <br>

    <h1><span>ISO/IEC 29110</span></h1>
    
                
	           	<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/viP7WLaFC8E"></iframe>
				</div>

    <hr>
    <div class="row">
        <div class="col-md-4 text-center">
            <h3>O que é?</h3>
            <br>
            <h4 class="sobre">A ISO/IEC 29110 é uma norma técnica que estabelece referências para os processos de gerência e
                desenvolvimento de software de micro e pequenas empresas.</h4>
        </div>
        <div class="col-md-4 text-center">
            <h3>Para que serve?</h3>
            <br>
            <h4 class="sobre">A ISO/IEC 29110 é a primeira norma ISO certificável para desenvolvimento de software.
            Ela visa assegurar que mesmo uma pequena organização seja capaz de entregar software conforme os requisitos do
                cliente, atendendo às suas necessidades,
                no prazo e custo acordado.
            </h4>
        </div>
        <div class="col-md-4 text-center">
            <h3>Serve pra mim?</h3>
            <br>
            <h4 class="sobre">A ISO/IEC 29110 foi desenvolvida para atender as necessidades de micro e pequenas empresas desenvolvedoras de software, ou seja,
                empresas com até 25 pessoas envolvidas no desenvolvimento.
            </h4>
        </div>
    </div>

    </div>
</div>
