<div>
    <h2 data-translate="seatApp.resposta.home.title">Respostas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="resposta.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="seatApp.resposta.home.createLabel">
                        Create new Resposta
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="seatApp.resposta.resposta">Resposta</span></th>
                    <th><span data-translate="seatApp.resposta.avaliacao">Avaliacao</span></th>
                    <th><span data-translate="seatApp.resposta.perguntaDetalhada">Pergunta Detalhada</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="resposta in vm.respostas track by resposta.id">
                    <td><a ui-sref="resposta-detail({id:resposta.id})">{{resposta.id}}</a></td>
                    <td>{{resposta.resposta}}</td>
                    <td>
                        <a ui-sref="avaliacao-detail({id:resposta.avaliacao.id})">{{resposta.avaliacao.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="pergunta-detalhada-detail({id:resposta.perguntaDetalhada.id})">{{resposta.perguntaDetalhada.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="resposta-detail({id:resposta.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="resposta.edit({id:resposta.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="resposta.delete({id:resposta.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
