
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRespostaLabel" data-translate="seatApp.resposta.home.createOrEditLabel">Create or edit a Resposta</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.resposta.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.resposta.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.resposta.resposta" for="field_resposta">Resposta</label>
            <input type="text" class="form-control" name="resposta" id="field_resposta"
                    ng-model="vm.resposta.resposta"
                    />
        </div>

        <div class="form-group">
            <label data-translate="seatApp.resposta.avaliacao" for="field_avaliacao">Avaliacao</label>
            <select class="form-control" id="field_avaliacao" name="avaliacao" ng-model="vm.resposta.avaliacao" ng-options="avaliacao as avaliacao.id for avaliacao in vm.avaliacaos track by avaliacao.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="seatApp.resposta.perguntaDetalhada" for="field_perguntaDetalhada">Pergunta Detalhada</label>
            <select class="form-control" id="field_perguntaDetalhada" name="perguntaDetalhada" ng-model="vm.resposta.perguntaDetalhada" ng-options="perguntaDetalhada as perguntaDetalhada.id for perguntaDetalhada in vm.perguntadetalhadas track by perguntaDetalhada.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
