
<div>
    <h2><span data-translate="seatApp.resposta.detail.title">Resposta</span> {{vm.resposta.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="seatApp.resposta.resposta">Resposta</span></dt>
        <dd>
            <span>{{vm.resposta.resposta}}</span>
        </dd>
        <dt><span data-translate="seatApp.resposta.avaliacao">Avaliacao</span></dt>
        <dd>
            <a ui-sref="avaliacao-detail({id:vm.resposta.avaliacao.id})">{{vm.resposta.avaliacao.id}}</a>
        </dd>
        <dt><span data-translate="seatApp.resposta.perguntaDetalhada">Pergunta Detalhada</span></dt>
        <dd>
            <a ui-sref="pergunta-detalhada-detail({id:vm.resposta.perguntaDetalhada.id})">{{vm.resposta.perguntaDetalhada.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="resposta-detail.edit({id:vm.resposta.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
