<div>
    <h2 data-translate="global.menu.assessment.assessments">Avaliações</h2>

    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="seatApp.avaliacao.data">Data</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="avaliacao in vm.avaliacoes track by avaliacao.id">
                    <td><a ui-sref="resultado({id:avaliacao.id})">{{avaliacao.data | date:'fullDate'}}</a></td>
                    <td class="text-right">
                        <div>
                            <button type="submit"
                                    ui-sref="resultado({id:avaliacao.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div id="avaliacoes"></div>
</div>
