
<div>
    <h2><span data-translate="seatApp.avaliacao.detail.title">Avaliacao</span> {{vm.avaliacao.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="seatApp.avaliacao.data">Data</span></dt>
        <dd>
            <span>{{vm.avaliacao.data | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="seatApp.avaliacao.status">Status</span></dt>
        <dd>
            <span>{{vm.avaliacao.status}}</span>
        </dd>
        <dt><span data-translate="seatApp.avaliacao.user">User</span></dt>
        <dd>
            {{vm.avaliacao.user.id}}
        </dd>
        <dt><span data-translate="seatApp.avaliacao.resultado">Resultado</span></dt>
        <dd>
            <a ui-sref="resultado-detail({id:vm.avaliacao.resultado.id})">{{vm.avaliacao.resultado.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="avaliacao-detail.edit({id:vm.avaliacao.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
