<div>
    <h2 data-translate="seatApp.avaliacao.home.title">Avaliacaos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="avaliacao.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="seatApp.avaliacao.home.createLabel">
                        Create new Avaliacao
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="seatApp.avaliacao.data">Data</span></th>
                    <th><span data-translate="seatApp.avaliacao.status">Status</span></th>
                    <th><span data-translate="seatApp.avaliacao.user">User</span></th>
                    <th><span data-translate="seatApp.avaliacao.resultado">Resultado</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="avaliacao in vm.avaliacaos track by avaliacao.id">
                    <td><a ui-sref="avaliacao-detail({id:avaliacao.id})">{{avaliacao.id}}</a></td>
                    <td>{{avaliacao.data | date:'medium'}}</td>
                    <td>{{avaliacao.status}}</td>
                    <td>
                        {{avaliacao.user.id}}
                    </td>
                    <td>
                        <a ui-sref="resultado-detail({id:avaliacao.resultado.id})">{{avaliacao.resultado.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="avaliacao-detail({id:avaliacao.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="avaliacao.edit({id:avaliacao.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="avaliacao.delete({id:avaliacao.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
