
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInformacaoContextoLabel" data-translate="seatApp.informacaoContexto.home.createOrEditLabel">Create or edit a Informacao Contexto</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.informacaoContexto.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.informacaoContexto.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.informacaoContexto.nomeOrganizacao" for="field_nomeOrganizacao">Nome Organizacao</label>
            <input type="text" class="form-control" name="nomeOrganizacao" id="field_nomeOrganizacao"
                    ng-model="vm.informacaoContexto.nomeOrganizacao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.informacaoContexto.numeroColaboradores" for="field_numeroColaboradores">Numero Colaboradores</label>
            <input type="number" class="form-control" name="numeroColaboradores" id="field_numeroColaboradores"
                    ng-model="vm.informacaoContexto.numeroColaboradores"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.informacaoContexto.numeroProjetos" for="field_numeroProjetos">Numero Projetos</label>
            <input type="number" class="form-control" name="numeroProjetos" id="field_numeroProjetos"
                    ng-model="vm.informacaoContexto.numeroProjetos"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.informacaoContexto.areaAtuacao" for="field_areaAtuacao">Area Atuacao</label>
            <input type="text" class="form-control" name="areaAtuacao" id="field_areaAtuacao"
                    ng-model="vm.informacaoContexto.areaAtuacao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.informacaoContexto.certificacao" for="field_certificacao">Certificacao</label>
            <input type="text" class="form-control" name="certificacao" id="field_certificacao"
                    ng-model="vm.informacaoContexto.certificacao"
                    />
        </div>

        <div class="form-group">
            <label data-translate="seatApp.informacaoContexto.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.informacaoContexto.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
