
<div>
    <h2><span data-translate="seatApp.informacaoContexto.detail.title">Informacao Contexto</span> {{vm.informacaoContexto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="seatApp.informacaoContexto.nomeOrganizacao">Nome Organizacao</span></dt>
        <dd>
            <span>{{vm.informacaoContexto.nomeOrganizacao}}</span>
        </dd>
        <dt><span data-translate="seatApp.informacaoContexto.numeroColaboradores">Numero Colaboradores</span></dt>
        <dd>
            <span>{{vm.informacaoContexto.numeroColaboradores}}</span>
        </dd>
        <dt><span data-translate="seatApp.informacaoContexto.numeroProjetos">Numero Projetos</span></dt>
        <dd>
            <span>{{vm.informacaoContexto.numeroProjetos}}</span>
        </dd>
        <dt><span data-translate="seatApp.informacaoContexto.areaAtuacao">Area Atuacao</span></dt>
        <dd>
            <span>{{vm.informacaoContexto.areaAtuacao}}</span>
        </dd>
        <dt><span data-translate="seatApp.informacaoContexto.certificacao">Certificacao</span></dt>
        <dd>
            <span>{{vm.informacaoContexto.certificacao}}</span>
        </dd>
        <dt><span data-translate="seatApp.informacaoContexto.user">User</span></dt>
        <dd>
            {{vm.informacaoContexto.user.id}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="informacao-contexto-detail.edit({id:vm.informacaoContexto.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
