<div>
    <h2 data-translate="seatApp.informacaoContexto.home.title">Informacao Contextos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="informacao-contexto.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="seatApp.informacaoContexto.home.createLabel">
                        Create new Informacao Contexto
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="seatApp.informacaoContexto.nomeOrganizacao">Nome Organizacao</span></th>
                    <th><span data-translate="seatApp.informacaoContexto.numeroColaboradores">Numero Colaboradores</span></th>
                    <th><span data-translate="seatApp.informacaoContexto.numeroProjetos">Numero Projetos</span></th>
                    <th><span data-translate="seatApp.informacaoContexto.areaAtuacao">Area Atuacao</span></th>
                    <th><span data-translate="seatApp.informacaoContexto.certificacao">Certificacao</span></th>
                    <th><span data-translate="seatApp.informacaoContexto.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="informacaoContexto in vm.informacaoContextos track by informacaoContexto.id">
                    <td><a ui-sref="informacao-contexto-detail({id:informacaoContexto.id})">{{informacaoContexto.id}}</a></td>
                    <td>{{informacaoContexto.nomeOrganizacao}}</td>
                    <td>{{informacaoContexto.numeroColaboradores}}</td>
                    <td>{{informacaoContexto.numeroProjetos}}</td>
                    <td>{{informacaoContexto.areaAtuacao}}</td>
                    <td>{{informacaoContexto.certificacao}}</td>
                    <td>
                        {{informacaoContexto.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="informacao-contexto-detail({id:informacaoContexto.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="informacao-contexto.edit({id:informacaoContexto.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="informacao-contexto.delete({id:informacaoContexto.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
