<div ng-cloak>
    <div class="row">

        <div class="col-md-4">
            <span class="logo img-responsive"></span>
        </div>

        <div class="col-md-8">
            <h1 translate="home.title">Welcome to SEAT!</h1>
            <br>
            <h4 translate="home.subtitle">SEAT is a Self Assessment Tool based on ISO/IEC 29110 that helps small software
                companies to assess their development processes</h4>

            <br>

            <div ng-switch="vm.isAuthenticated()">
                <div ng-switch-when="true" class="text-center">
                    <button type="button" class="btn btn-primary btn-lg" ui-sref="informacoes-contexto({novaAvaliacao: true})">INICIAR AVALIAÇÃO</button>
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    Já possui uma conta? <a class="alert-link" href="" ng-click="vm.login()"> Acesse!</a>
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col-md-6 text-center">
                    <strong>Quer saber mais sobre o SEAT e como utilizá-lo?</strong>
                    </br></br>

                    <button type="button" class="btn btn-info btn-lg" ui-sref="sobre">Saiba mais!</button>
                </div>
                <div class="col-md-6">
                    <p translate="home.question">
                        Quer saber mais sobrea a ISO/IEC 29110? Acesse:
                    </p>

                    <ul>
                        <li><a href="http://standards.iso.org/ittf/PubliclyAvailableStandards/c060389_ISO_IEC_TR_29110-5-1-1_2012(E).zip" target="_blank">ISO/IEC 29110</a></li>
                        <li><a href="https://www.inf.ufsc.br/~jean.hauck/guias/29110/" target="_blank">Deployment Package 29110</a></li>
                    </ul>
                </div>

            </div>



        </div>

    </div>
</div>
