
<div>
    <h2><span data-translate="seatApp.resultado.detail.title">Resultado</span> {{vm.resultado.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="seatApp.resultado.notaGeral">Nota Geral</span></dt>
        <dd>
            <span>{{vm.resultado.notaGeral}}</span>
        </dd>
        <dt><span data-translate="seatApp.resultado.notaPM">Nota PM</span></dt>
        <dd>
            <span>{{vm.resultado.notaPM}}</span>
        </dd>
        <dt><span data-translate="seatApp.resultado.notaSI">Nota SI</span></dt>
        <dd>
            <span>{{vm.resultado.notaSI}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="resultado-detail.edit({id:vm.resultado.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
