
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myResultadoLabel" data-translate="seatApp.resultado.home.createOrEditLabel">Create or edit a Resultado</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.resultado.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.resultado.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.resultado.notaGeral" for="field_notaGeral">Nota Geral</label>
            <input type="number" class="form-control" name="notaGeral" id="field_notaGeral"
                    ng-model="vm.resultado.notaGeral"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.resultado.notaPM" for="field_notaPM">Nota PM</label>
            <input type="number" class="form-control" name="notaPM" id="field_notaPM"
                    ng-model="vm.resultado.notaPM"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.resultado.notaSI" for="field_notaSI">Nota SI</label>
            <input type="number" class="form-control" name="notaSI" id="field_notaSI"
                    ng-model="vm.resultado.notaSI"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
