<div>
    <h2 data-translate="seatApp.resultado.home.title">Resultados</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="resultado.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="seatApp.resultado.home.createLabel">
                        Create new Resultado
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="seatApp.resultado.notaGeral">Nota Geral</span></th>
                    <th><span data-translate="seatApp.resultado.notaPM">Nota PM</span></th>
                    <th><span data-translate="seatApp.resultado.notaSI">Nota SI</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="resultado in vm.resultados track by resultado.id">
                    <td><a ui-sref="resultado-detail({id:resultado.id})">{{resultado.id}}</a></td>
                    <td>{{resultado.notaGeral}}</td>
                    <td>{{resultado.notaPM}}</td>
                    <td>{{resultado.notaSI}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="resultado-detail({id:resultado.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="resultado.edit({id:resultado.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="resultado.delete({id:resultado.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
