
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPerguntaLabel" data-translate="seatApp.pergunta.home.createOrEditLabel">Create or edit a Pergunta</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pergunta.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pergunta.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.pergunta.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.pergunta.nome"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.pergunta.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.pergunta.descricao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.pergunta.dica" for="field_dica">Dica</label>
            <input type="text" class="form-control" name="dica" id="field_dica"
                    ng-model="vm.pergunta.dica"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="seatApp.pergunta.link" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                    ng-model="vm.pergunta.link"
                    />
        </div>

        <div class="form-group">
            <label data-translate="seatApp.pergunta.areaProcesso" for="field_areaProcesso">Area Processo</label>
            <select class="form-control" id="field_areaProcesso" name="areaProcesso" ng-model="vm.pergunta.areaProcesso" ng-options="areaProcesso as areaProcesso.id for areaProcesso in vm.areaprocessos track by areaProcesso.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
