
<div>
    <h2><span data-translate="seatApp.pergunta.detail.title">Pergunta</span> {{vm.pergunta.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="seatApp.pergunta.nome">Nome</span></dt>
        <dd>
            <span>{{vm.pergunta.nome}}</span>
        </dd>
        <dt><span data-translate="seatApp.pergunta.descricao">Descricao</span></dt>
        <dd>
            <span>{{vm.pergunta.descricao}}</span>
        </dd>
        <dt><span data-translate="seatApp.pergunta.dica">Dica</span></dt>
        <dd>
            <span>{{vm.pergunta.dica}}</span>
        </dd>
        <dt><span data-translate="seatApp.pergunta.link">Link</span></dt>
        <dd>
            <span>{{vm.pergunta.link}}</span>
        </dd>
        <dt><span data-translate="seatApp.pergunta.areaProcesso">Area Processo</span></dt>
        <dd>
            <a ui-sref="area-processo-detail({id:vm.pergunta.areaProcesso.id})">{{vm.pergunta.areaProcesso.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="pergunta-detail.edit({id:vm.pergunta.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
