<div>
    <h2 data-translate="seatApp.pergunta.home.title">Perguntas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pergunta.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="seatApp.pergunta.home.createLabel">
                        Create new Pergunta
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="seatApp.pergunta.nome">Nome</span></th>
                    <th><span data-translate="seatApp.pergunta.descricao">Descricao</span></th>
                    <th><span data-translate="seatApp.pergunta.dica">Dica</span></th>
                    <th><span data-translate="seatApp.pergunta.link">Link</span></th>
                    <th><span data-translate="seatApp.pergunta.areaProcesso">Area Processo</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pergunta in vm.perguntas track by pergunta.id">
                    <td><a ui-sref="pergunta-detail({id:pergunta.id})">{{pergunta.id}}</a></td>
                    <td>{{pergunta.nome}}</td>
                    <td>{{pergunta.descricao}}</td>
                    <td>{{pergunta.dica}}</td>
                    <td>{{pergunta.link}}</td>
                    <td>
                        <a ui-sref="area-processo-detail({id:pergunta.areaProcesso.id})">{{pergunta.areaProcesso.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pergunta-detail({id:pergunta.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pergunta.edit({id:pergunta.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pergunta.delete({id:pergunta.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
